* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden; 
}
header {
   position: relative;
}
nav {
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ebe6e6;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 10px;
}

.right img {
    border-radius: 50%;
}

.gray {
    border-radius: 50%;
    border: 1px solid gray;
    height: 80%;
    width: 900%;
    background-color: gray;
}

button {
    border: none;
    margin: 0px 10px;
}

.first {
    margin: 15px 110px;
    display: flex;
    justify-content: space-between;
}

.first h1 {
    color: #3f3fe7;
}

.first button {
    border-radius: 10px;
    background-color: #3f3fe7;
    width: 116px;
    height: 35px;
    color: white;
    font-weight: bold;
}

.second {
    border: 1px solid rgb(235 231 231);
    width: 70%;
    background-color: #E9ECEF;
    margin: 37px 110px;
    padding: 30px 20px;
}

.second h3 {
    margin: 10px 0px;
}

.bottom-section {
    display: grid;
    width: 100%;
    background-color: white;
}

.top {
    display: flex;
}

.I-box {
    margin: 10px 60px;
    width: 36%;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 580px;
    background-color: white;
}

.I-box span {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.I-box span h3 {
    padding: 10px 30px;
    color: white;
    height: 10px;
}

.I-box span img {
    height: 20px;
    border: none;
    padding: 8px 1px;
    background-color: black;
}

.description {
    margin: 20px 10px;
    color: black;
}

.II-box {
    margin: 10px 60px;
    width: 36%;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 580px;
    background-color: white;
}

.II-box span h3 {
    padding: 10px 30px;
    color: white;
    height: 10px;
    margin-left: 183px;
}

.II-box span {
    background-color: black;
    display: flex;
}

.II-box img {
    height: 20px;
    border: none;
    padding: 8px 1px;
    background-color: black;
    margin-left: 80px;
}

.II-description {
    margin: 20px 10px;
    color: black;
}

.thread {
    padding-left: 15px;
    padding-top: 10px;
    margin: 20px 0px;
    border: 2px solid lightgray;
    height: 40px;
    font-weight: bold;
    font-size: 1.5rem;
}

.left-des {
    border: 2px solid lightgray;
    width: 199px;
    height: 95px;
    border-radius: 10px;
    margin: 0px 20px;
}

.left-des h4 {
    padding: 2px 3px;
    background-color: lightgray;
}

.right-des {
    width: 199px;
    height: 94.01px;
    border-radius: 10px;
    margin: 0px 250px;
    border: 2px solid lightgray;
    position: absolute;
    top: 83%;
}

.right-des h4 {
    padding: 2px 3px;
    background-color: lightgray;
}

.left-des p {
    margin: 4px 2px;
}

.right-des p {
    margin: 4px 2px;
}

.II-icons {
    margin: 0px 90px;
}

.II-icons img {
    background: none;
    margin: 15px 0px;
}

.select {
    border: 2px solid lightgray;
    width: 110px;
}

.select2 {
    border: 2px solid lightgray;
    width: 120px;
}

.II-select {
    display: flex;
    position: absolute;
    top: 100%;
    margin-left: 230px;
    gap: 10px;
    margin-top: 10px;
}

.thread-button {
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 12px;
    height: 30px;
    width: 100px;
    background-color: #3f3fe7;
    color: white;
}

.summary-thread {
    width: 425px;
    height: 108px;
    border-radius: 10px;
    border: 2px solid lightgray;
    margin: 20px 30px;
}

.summary-thread h4 {
    height: 15px;
    padding: 10px 10px;
    background-color: lightgray;
}

.summary-thread p {
    margin: 10px 10px;
}

.bottom {
    margin: 20px 0px;
    display: flex;
}

.III-box {
    margin: 10px 60px;
    width: 36%;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 580px;
    background-color: white;
}

.III-box span {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.III-box span h3 {
    padding: 10px 30px;
    color: white;
    height: 10px;
}

.III-box span img {
    height: 20px;
    border: none;
    padding: 8px 1px;
    background-color: black;
}

.III-top {
    margin: 30px 20px;
}

.title {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 20px 22px;
    width: 422px;
    height: 43px;
    background-color: #FCFBFB;
}

.content {
    padding: 20px 10px;
    width: 422px;
    height: 82px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 20px 22px;
}
.content-img {
    margin-top: 15px;
    gap: 10px;
    display: flex;
    height: 25px;
}

.content p {
    margin: 2px 5px;
    border: 2px solid lightgray;
}

.para {
    border: 2px solid lightgray;
    height: 20px;
    width: 80px;
}

.IV-box {
    margin: 10px 60px;
    width: 36%;
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 580px;
    background-color: white;
}

.IV-box span {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.IV-box span h3 {
    padding: 10px 30px;
    color: white;
    height: 10px;
}

.IV-box span img {
    height: 20px;
    border: none;
    padding: 8px 1px;
    background-color: black;
}

.IV-top {
    margin: 35px 25px;
}

.IV-box hr {
    background-color: lightgray;
}

.intro-box {
    width: 434px;
    height: 43px;
    border: 2px solid lightgray;
    margin: -1px 20px;
    padding: 4px 5px;
}

.see-more {
    margin-top: 50px;
    margin-left: 390px;
}

.IV_thread {
    width: 434px;
    height: 43px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 20px 20px;
}
.IV_thread h4 {
    margin: 10px 20px;
}
.see-more2 {
    margin-top: 115px;
    margin-left: 390px;
}
.example {
    margin: 10px 30px;
    border: 2px solid lightgray;
    padding: 10px 20px;

}
.example p {
    justify-content: center;
}
.collapsible-sidebar {
    position: absolute;
    left: 0;
    width: 80px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    height: 500px;
    box-shadow: 3px 3px 5px rgb(169, 169, 169);
    transition: 0.3s ease;
}
.sidebar-top {
    padding: 15px 8px;
    background-color: black;
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}
.collapsebutton {
    padding: 5px 9px;
    border-radius: 50px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: 0;
}
.collapsebutton:hover {
    color: #3f3fe7;
    background-color: whitesmoke;
}
.sidebartext {
    padding: 20px;
}
.sidelist {
    font-weight: 700;
    margin-bottom: 18px;
}
.sidelistpnt {
    line-height: 1.6;
}
.hidden {
    display: none;
}
.open {
    width: 350px;
}
.rotate {
    transform: rotate(180deg);
    transform: 1s;
}
.sidebartask {
    width: 45px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    color: #3f3fe7;
    border: 2px solid #3f3fe7;
    border-radius: 18px;
}